<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite"  parallel="classes" thread-count="5">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Nosotros Test">
        <classes>
            <class name="newproject.Nosotros.NosotrosLogin"/>
            <class name="newproject.Nosotros.Assignment"/>
        </classes>
    </test>
</suite>
