<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Login Test">
        <classes>
            <class name="newproject.Nosotros.NosotrosLogin"/>
        </classes>
    </test>
</suite>
